<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app-is-supported</key>
	<true/>
	<key>app-update-is-available</key>
	<false/>
	<key>app-update-is-forced</key>
	<false/>
	<key>config-url</key>
	<string>https://www.health.gov.bc.ca/bchsl/ios/1.1/config.plist</string>
	<key>feedback-email</key>
	<string>HLBCFeedback@gov.bc.ca</string>
	<key>health-alerts-url</key>
	<string>https://www.healthlinkbc.ca/health_alerts.asp</string>
	<key>sources-url</key>
	<string>https://www.health.gov.bc.ca/bchsl/ios/1.1/sources.plist</string>
</dict>
</plist>
