<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sources</key>
	<array>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/walkin-icon.png</string>
			<key>key</key>
			<string>walkin</string>
			<key>label</key>
			<string>Walk In Clinics</string>
			<key>pinImageURL</key>
			<string>http://foo/walkin-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/5e2707c3-0aa4-4d2d-aedc-4dd0914b686a/resource/d5945d86-4416-4a11-a327-05a50b99bacf/download/hlbc_walkinclinics.txt</string>
		</dict>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/hospital-icon.png</string>
			<key>key</key>
			<string>hospital</string>
			<key>label</key>
			<string>Hospitals</string>
			<key>pinImageURL</key>
			<string>http://foo/hospital-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/383eaf98-afd7-436a-9556-67ecf14f64a7/resource/cc137ca9-58e1-4cf5-9f9e-4ada207bc23b/download/hlbc_hospitals.txt</string>
		</dict>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/emergency-icon.png</string>
			<key>key</key>
			<string>emergency</string>
			<key>label</key>
			<string>Emergency Rooms</string>
			<key>pinImageURL</key>
			<string>http://foo/emergency-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/88e982b2-0799-4e17-b000-9961ea05b0f0/resource/c13d3e02-c5ec-4188-8c87-c5df26f22ddd/download/hlbc_emergencyrooms.txt</string>
		</dict>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/immunization-icon.png</string>
			<key>key</key>
			<string>immunization</string>
			<key>label</key>
			<string>Immunizations</string>
			<key>pinImageURL</key>
			<string>http://foo/immunization-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/f49ebe46-6faf-4b5d-a21e-c19db5ec69d7/resource/61fb6bfa-37b6-4a4b-b85f-0ae0a5fa5a45/download/hlbc_immunizationclinics.txt</string>
		</dict>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/pharmacy-icon.png</string>
			<key>key</key>
			<string>pharmacy</string>
			<key>label</key>
			<string>Pharmacies</string>
			<key>pinImageURL</key>
			<string>http://foo/pharmacy-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/f5b6bfad-d06a-4952-ae47-976fb5092bcc/resource/41b0d8e0-5dee-4450-9f01-d8999cf0c019/download/hlbc_pharmacies.txt</string>
		</dict>
		<dict>
			<key>iconImageURL</key>
			<string>http://foo/labs-icon.png</string>
			<key>key</key>
			<string>labs</string>
			<key>label</key>
			<string>Laboratories</string>
			<key>pinImageURL</key>
			<string>http://foo/labs-pin.png</string>
			<key>url</key>
			<string>https://catalogue.data.gov.bc.ca/dataset/401671c5-4fc4-4ffb-9e29-0cdc3c9433ba/resource/9d5130cf-11f1-4cbd-9536-6eacce1d02a3/download/hlbc_labs.txt</string>
		</dict>
	</array>
</dict>
</plist>
